.homepage.elements{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-color: white ;
    align-items: center;
    display: block;
    width: 500px;
}
.homepage.elements .one,.two,.three{
   display: block; 
   background-color: #548CA8;
   padding: 20px;
   width: 500px;
   border: 2px solid black;
   margin-left: 300px;
   margin-right: 300px;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
}
.homepage.elements .one a,.two a,.three a{
    color: white;
}
.homepage.elements .one a:hover,.two a:hover,.three a:hover{
    color: #FFD700;
}
.two{
    background-color: #476072;
}
.three{
    background-color: #334257;
}
.homepage.title{
    font-size: 36px;
    display: block;
    align-items: center;
    border: 2px solid lightblue;
    background-color: rgb(159, 231, 255);
    padding-left: 40px;
    /*padding-right: 40px;*/
    width: 250px;
    margin: auto;
}
.ingredients,p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: khaki;
    color: black;
    font-weight: 500;
}
h2 {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 116, 116);
}
p#return {
    background-color: white;
    color: blue;
    font-size: 24px;
}
h1 {
    background-color: white;
    font-size: 36px;
    align-items: center;
}
h3{
    font-size: 22px;
    background-color: rgb(255, 116, 116);
    font-family: Arial, Helvetica, sans-serif;
}
/*
img {
    height: auto;
    width: 400px;
}
*/
